@font-face {
  font-family: 'BeonRegular'; src: url('BeonRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Set neon color */
  --neon-beat-color: #d31b12;
  --neon-saber-color: #0c75c6;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  max-width: 100%;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button {
  background-color: #f4f4f4;
  outline: none;
}

button:active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}