{#if blocks && !isNaN(parseInt(blocks, 10)) && blocks >= 0}
<div class="song-info">
	{#if song.artist}<div><label>Artist:</label> { song.artist }</div>{/if}
	{#if song.album}<div><label>Album:</label> { song.album }</div>{/if}
	{#if song.mode}<div><label>Mode:</label> { song.mode }</div>{/if}
	<div><label>Blocks:</label> { blocks }</div>
	<div><label>Max score:</label> <strong>{maxPointsForSong.toLocaleString()}</strong> points</div>
</div>

<table>
	<thead>
		<tr>
			<th>Rank</th>
			<th>Percent</th>
			<th>Min. points</th>
		</tr>
	</thead>
	<tbody>
		{#each ranksSorted as rank (rank.name)}
		<tr class="{rank.cls}">
			<td>{rank.name}</td>
			<td>{formatPercent(rank.percent)}</td>
			<td>{formatPoints(rank.points)}</td>
		</tr>
		{/each}
	</tbody>
</table>
{/if}

<style>
  table {
    margin: 0 auto;
  }
  table,
  table thead th,
  table tbody td {
    border: 1px solid gray;
    border-collapse: collapse;
  }

  table thead th,
  table tbody td {
    padding: 0.25rem;
  }

  table tbody tr td:nth-child(1) {
    text-align: center;
  }
  table tbody tr td:nth-child(2),
  table tbody tr td:nth-child(3) {
    text-align: right;
  }

  .song-info {
    margin: 0.5rem 0;
  }
  .song-info label {
    display: inline-block;
    margin-right: 0.25rem;
  }
</style>

<script>
  import maxPoints from "../lib/maxpoints.js";

  export default {
    data() {
      return {
        ranks: [
          { name: "SSS", percent: 1 },
          { name: "SS", percent: 0.9 },
          { name: "S", percent: 0.8 },
          { name: "A", percent: 0.65 },
          { name: "B", percent: 0.5 },
          { name: "C", percent: 0.35 },
          { name: "D", percent: 0.2 }
        ]
      };
    },

    computed: {
      maxPointsForSong: ({ blocks, maxScorePerBlock }) =>
        maxPoints(blocks, maxScorePerBlock),

      ranksSorted: ({ ranks, yourScore, maxPointsForSong }) => {
        const pointsPerRank = (maxPointsForSong, percent) =>
          Math.floor(maxPointsForSong * percent);

        let ret = ranks.map(r =>
          Object.assign({}, r, {
            points: pointsPerRank(maxPointsForSong, r.percent),
            cls: ""
          })
        );

        if (yourScore)
          ret = ret.concat([
            {
              name: "Your score",
              percent: yourScore / maxPointsForSong,
              points: yourScore,
              cls: "beat"
            }
          ]);

        return ret.sort((a, b) => b.points - a.points);
      }
    },

    helpers: {
      formatPercent: val =>
        val.toLocaleString(undefined, {
          style: "percent",
          minimumFractionDigits: 1,
          maximumFractionDigits: 1
        }),

      formatPoints: val => val.toLocaleString()
    }
  };
</script>
