<div>
  <Select
    bind:selectedValue="selectedSong"
    filterText="{filters.title ? filters.title : ''}"
    items="{filteredSongs}"
    getOptionLabel="{getOptionLabel}"
    getSelectionLabel="{getOptionLabel}"
    placeholder="Select a song..."
    optionIdentifier="id"
    on:clear="set({selectedSong: null})"
  ></Select>

  {#if !selectedSong || selectedSong.level}
  <SongsFilters
    on:filter-songs="onFilterSongs(event)"
    {allSongs}
  ></SongsFilters>
  {/if} {#if selectedSong && !selectedSong.level}
  <div class="custom-song">
    <label>Number of blocks in custom song</label>
    <input type="number" min="1" bind:value="customSongBlocks" />
  </div>
  {/if}
</div>

<style>
  label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.25rem;
  }

  .custom-song {
    margin-top: 0.5rem;
  }

  .custom-song input {
    color: #ddd;
    background-color: black;
    border-color: #3f4f5f;
  }
</style>

<script>
  import Select from "svelte-select";
  import SongsFilters from "./SongsFilters.html";

  export default {
    components: { Select, SongsFilters },

    data() {
      return {
        customSongBlocks: 300,

        filters: {},

        selectedSong: null,
        songs: [
          {
            title: "-= Custom song =-",
            artist: null,
            album: null
          },
          {
            title: "Pop Stars K/DA",
            artist: "League of legends",
            album: "Extras",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 226 },
              { mode: "Two-handed", level: "Normal", blocks: 341 },
              { mode: "Two-handed", level: "Hard", blocks: 486 },
              { mode: "Two-handed", level: "Expert", blocks: 679 },
              { mode: "Two-handed", level: "Expert+", blocks: 934 }
            ]
          },
          {
            title: "One hope",
            artist: "Knower",
            album: "Extras",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 286 },
              { mode: "Two-handed", level: "Normal", blocks: 376 },
              { mode: "Two-handed", level: "Hard", blocks: 503 },
              { mode: "Two-handed", level: "Expert", blocks: 731 },
              { mode: "Two-handed", level: "Expert+", blocks: 932 }
            ]
          },
          {
            title: "$100 bills",
            artist: "Jaroslav Beck",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 156 },
              { mode: "Two-handed", level: "Normal", blocks: 196 },
              { mode: "Two-handed", level: "Hard", blocks: 264 },
              { mode: "Two-handed", level: "Expert", blocks: 437 },
              { mode: "Two-handed", level: "Expert+", blocks: 734 }
            ]
          },
          {
            title: "Escape ft. Summer Haze",
            artist: "Jaroslav Beck, Summer Haze",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 157 },
              { mode: "Two-handed", level: "Normal", blocks: 295 },
              { mode: "Two-handed", level: "Hard", blocks: 287 },
              { mode: "Two-handed", level: "Expert", blocks: 399 },
              { mode: "Two-handed", level: "Expert+", blocks: 600 }
            ]
          },
          {
            title: "Legend ft. Backchat",
            artist: "Jaroslav Beck, Backchat, Generdyn",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 150 },
              { mode: "Two-handed", level: "Normal", blocks: 184 },
              { mode: "Two-handed", level: "Hard", blocks: 216 },
              { mode: "Two-handed", level: "Expert", blocks: 285 },
              { mode: "Two-handed", level: "Expert+", blocks: 638 }
            ]
          },
          {
            title: "Rum'n'bass",
            artist: "Boom kitty",
            album: "OST Vol. 2",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 155 },
              { mode: "Two-handed", level: "Normal", blocks: 285 },
              { mode: "Two-handed", level: "Hard", blocks: 401 },
              { mode: "Two-handed", level: "Expert", blocks: 603 },
              { mode: "Two-handed", level: "Expert+", blocks: 943 }
            ]
          },
          {
            title: "Unlimited power ft. Frank Bentley",
            artist: "Jaroslav Beck",
            album: "OST Vol. 2",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 124 },
              { mode: "Two-handed", level: "Normal", blocks: 199 },
              { mode: "Two-handed", level: "Hard", blocks: 302 },
              { mode: "Two-handed", level: "Expert", blocks: 380 },
              { mode: "Two-handed", level: "Expert+", blocks: 615 }
            ]
          },
          {
            title: "I need you",
            artist: "Megaphonix",
            album: "OST Vol. 2",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 145 },
              { mode: "Two-handed", level: "Normal", blocks: 224 },
              { mode: "Two-handed", level: "Hard", blocks: 338 },
              { mode: "Two-handed", level: "Expert", blocks: 423 },
              { mode: "Two-handed", level: "Expert+", blocks: 635 }
            ]
          },
          {
            title: "Be there for you ft. Kinnie Lane",
            artist: "Sedliv",
            album: "OST Vol. 2",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 146 },
              { mode: "Two-handed", level: "Normal", blocks: 250 },
              { mode: "Two-handed", level: "Hard", blocks: 323 },
              { mode: "Two-handed", level: "Expert", blocks: 519 },
              { mode: "Two-handed", level: "Expert+", blocks: 757 }
            ]
          },
          {
            title: "Beat Saber",
            artist: "Jaroslav Beck",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 94 },
              { mode: "Two-handed", level: "Normal", blocks: 116 },
              { mode: "Two-handed", level: "Hard", blocks: 202 },
              { mode: "Two-handed", level: "Expert", blocks: 267 },
              { mode: "Two-handed", level: "Expert+", blocks: 632 }
            ]
          },
          {
            title: "Angel Voices",
            artist: "Virtual Self",
            album: "Extras",
            levels: [
              { mode: "Two-handed", level: "Hard", blocks: 948 },
              { mode: "Two-handed", level: "Expert", blocks: 1202 },
              { mode: "Two-handed", level: "Expert+", blocks: 1681 }
            ]
          },
          {
            title: "Country roads Sqeepo remix",
            artist: "Jaroslav Beck, Kings&Folks",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 151 },
              { mode: "Two-handed", level: "Normal", blocks: 208 },
              { mode: "Two-handed", level: "Hard", blocks: 295 },
              { mode: "Two-handed", level: "Expert", blocks: 544 },
              { mode: "Two-handed", level: "Expert+", blocks: 773 }
            ]
          },
          {
            title: "Balearic pumping",
            artist: "Jaroslav Beck",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 170 },
              { mode: "Two-handed", level: "Normal", blocks: 239 },
              { mode: "Two-handed", level: "Hard", blocks: 341 },
              { mode: "Two-handed", level: "Expert", blocks: 459 },
              { mode: "Two-handed", level: "Expert+", blocks: 608 }
            ]
          },
          {
            title: "Breezer",
            artist: "Jaroslav Beck",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 106 },
              { mode: "Two-handed", level: "Normal", blocks: 173 },
              { mode: "Two-handed", level: "Hard", blocks: 272 },
              { mode: "Two-handed", level: "Expert", blocks: 356 },
              { mode: "Two-handed", level: "Expert+", blocks: 566 }
            ]
          },
          {
            title: "Commercial pumping",
            artist: "Jaroslav Beck",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 136 },
              { mode: "Two-handed", level: "Normal", blocks: 213 },
              { mode: "Two-handed", level: "Hard", blocks: 329 },
              { mode: "Two-handed", level: "Expert", blocks: 447 },
              { mode: "Two-handed", level: "Expert+", blocks: 848 }
            ]
          },
          {
            title: "Elixia",
            artist: "Mord fustang",
            album: "OST Vol. 2",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 143 },
              { mode: "Two-handed", level: "Normal", blocks: 300 },
              { mode: "Two-handed", level: "Hard", blocks: 375 },
              { mode: "Two-handed", level: "Expert", blocks: 494 },
              { mode: "Two-handed", level: "Expert+", blocks: 744 }
            ]
          },
          {
            title: "Turn me on ft. Tiny C",
            artist: "Jaroslav Beck, Tiny C",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 121 },
              { mode: "Two-handed", level: "Normal", blocks: 156 },
              { mode: "Two-handed", level: "Hard", blocks: 244 },
              { mode: "Two-handed", level: "Expert", blocks: 341 },
              { mode: "Two-handed", level: "Expert+", blocks: 663 }
            ]
          },
          {
            title: "Lvl insane",
            artist: "Jaroslav Beck",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 102 },
              { mode: "Two-handed", level: "Normal", blocks: 139 },
              { mode: "Two-handed", level: "Hard", blocks: 198 },
              { mode: "Two-handed", level: "Expert", blocks: 330 },
              { mode: "Two-handed", level: "Expert+", blocks: 587 }
            ]
          },
          {
            title: "Boundless",
            artist: "Aero Chord",
            album: "Monstercat Music Pack Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 249 },
              { mode: "Two-handed", level: "Normal", blocks: 417 },
              { mode: "Two-handed", level: "Hard", blocks: 568 },
              { mode: "Two-handed", level: "Expert", blocks: 698 },
              { mode: "Two-handed", level: "Expert+", blocks: 846 }
            ]
          },
          {
            title: "Emoji VIP",
            artist: "Pegboard Nerds",
            album: "Monstercat Music Pack Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 305 },
              { mode: "Two-handed", level: "Normal", blocks: 368 },
              { mode: "Two-handed", level: "Hard", blocks: 448 },
              { mode: "Two-handed", level: "Expert", blocks: 630 },
              { mode: "Two-handed", level: "Expert+", blocks: 768 }
            ]
          },
          {
            title: "Epic",
            artist: "Tokyo Machine",
            album: "Monstercat Music Pack Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 293 },
              { mode: "Two-handed", level: "Normal", blocks: 322 },
              { mode: "Two-handed", level: "Hard", blocks: 424 },
              { mode: "Two-handed", level: "Expert", blocks: 787 },
              { mode: "Two-handed", level: "Expert+", blocks: 884 }
            ]
          },
          {
            title:
              "Feeling Stronger (feat. Charlotte Colley) [High Maintenance Remix]",
            artist: "Muzzy",
            album: "Monstercat Music Pack Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 247 },
              { mode: "Two-handed", level: "Normal", blocks: 396 },
              { mode: "Two-handed", level: "Hard", blocks: 472 },
              { mode: "Two-handed", level: "Expert", blocks: 671 },
              { mode: "Two-handed", level: "Expert+", blocks: 932 }
            ]
          },
          {
            title: "Overkill",
            artist: "RIOT",
            album: "Monstercat Music Pack Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 340 },
              { mode: "Two-handed", level: "Normal", blocks: 437 },
              { mode: "Two-handed", level: "Hard", blocks: 603 },
              { mode: "Two-handed", level: "Expert", blocks: 879 },
              { mode: "Two-handed", level: "Expert+", blocks: 1308 }
            ]
          },
          {
            title: "Rattlesnake",
            artist: "Rogue",
            album: "Monstercat Music Pack Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 333 },
              { mode: "Two-handed", level: "Normal", blocks: 474 },
              { mode: "Two-handed", level: "Hard", blocks: 658 },
              { mode: "Two-handed", level: "Expert", blocks: 845 },
              { mode: "Two-handed", level: "Expert+", blocks: 1071 }
            ]
          },
          {
            title: "Stronger (feat. Emel)",
            artist: "Stonebank",
            album: "Monstercat Music Pack Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 413 },
              { mode: "Two-handed", level: "Normal", blocks: 485 },
              { mode: "Two-handed", level: "Hard", blocks: 564 },
              { mode: "Two-handed", level: "Expert", blocks: 1035 },
              { mode: "Two-handed", level: "Expert+", blocks: 1248 }
            ]
          },
          {
            title: "This Time",
            artist: "Kayzo",
            album: "Monstercat Music Pack Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 204 },
              { mode: "Two-handed", level: "Normal", blocks: 294 },
              { mode: "Two-handed", level: "Hard", blocks: 483 },
              { mode: "Two-handed", level: "Expert", blocks: 608 },
              { mode: "Two-handed", level: "Expert+", blocks: 919 }
            ]
          },
          {
            title: "Till It's Over",
            artist: "Tristam",
            album: "Monstercat Music Pack Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 291 },
              { mode: "Two-handed", level: "Normal", blocks: 421 },
              { mode: "Two-handed", level: "Hard", blocks: 544 },
              { mode: "Two-handed", level: "Expert", blocks: 866 },
              { mode: "Two-handed", level: "Expert+", blocks: 1003 }
            ]
          },
          {
            title: "We Won't Be Alone (feat. Laura Brehm)",
            artist: "Feint",
            album: "Monstercat Music Pack Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 220 },
              { mode: "Two-handed", level: "Normal", blocks: 333 },
              { mode: "Two-handed", level: "Hard", blocks: 491 },
              { mode: "Two-handed", level: "Expert", blocks: 673 },
              { mode: "Two-handed", level: "Expert+", blocks: 860 }
            ]
          },
          {
            title: "Crab Rave",
            artist: "",
            album: "Extras",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 176 },
              { mode: "Two-handed", level: "Normal", blocks: 381 },
              { mode: "Two-handed", level: "Hard", blocks: 518 },
              { mode: "Two-handed", level: "Expert", blocks: 643 },
              { mode: "Two-handed", level: "Expert+", blocks: 715 }
            ]
          },
          {
            title: "Crystalized",
            artist: "",
            album: "Extras",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 374 },
              { mode: "Two-handed", level: "Normal", blocks: 620 },
              { mode: "Two-handed", level: "Hard", blocks: 965 },
              { mode: "Two-handed", level: "Expert", blocks: 1340 },
              { mode: "Two-handed", level: "Expert+", blocks: 1425 }
            ]
          },
          {
            title: "Cycle Hit",
            artist: "",
            album: "Extras",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 499 },
              { mode: "Two-handed", level: "Normal", blocks: 754 },
              { mode: "Two-handed", level: "Hard", blocks: 1066 },
              { mode: "Two-handed", level: "Expert", blocks: 1633 },
              { mode: "Two-handed", level: "Expert+", blocks: 2023 }
            ]
          },
          {
            title: "What the Cat!?",
            artist: "",
            album: "Extras",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 453 },
              { mode: "Two-handed", level: "Normal", blocks: 662 },
              { mode: "Two-handed", level: "Hard", blocks: 864 },
              { mode: "Two-handed", level: "Expert", blocks: 1067 },
              { mode: "Two-handed", level: "Expert+", blocks: 1286 }
            ]
          },

          {
            title: "Bad Liar",
            artist: "",
            album: "Imagine Dragons Music Pack																							",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 324 },
              { mode: "Two-handed", level: "Normal", blocks: 461 },
              { mode: "Two-handed", level: "Hard", blocks: 619 },
              { mode: "Two-handed", level: "Expert", blocks: 732 },
              { mode: "Two-handed", level: "Expert+", blocks: 930 }
            ]
          },
          {
            title: "Believer",
            artist: "",
            album: "Imagine Dragons Music Pack																							",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 357 },
              { mode: "Two-handed", level: "Normal", blocks: 506 },
              { mode: "Two-handed", level: "Hard", blocks: 629 },
              { mode: "Two-handed", level: "Expert", blocks: 795 },
              { mode: "Two-handed", level: "Expert+", blocks: 806 }
            ]
          },
          {
            title: "Digital",
            artist: "",
            album: "Imagine Dragons Music Pack																							",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 336 },
              { mode: "Two-handed", level: "Normal", blocks: 522 },
              { mode: "Two-handed", level: "Hard", blocks: 718 },
              { mode: "Two-handed", level: "Expert", blocks: 832 },
              { mode: "Two-handed", level: "Expert+", blocks: 951 }
            ]
          },
          {
            title: "It's Time",
            artist: "",
            album: "Imagine Dragons Music Pack																							",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 357 },
              { mode: "Two-handed", level: "Normal", blocks: 536 },
              { mode: "Two-handed", level: "Hard", blocks: 770 },
              { mode: "Two-handed", level: "Expert", blocks: 967 },
              { mode: "Two-handed", level: "Expert+", blocks: 1031 }
            ]
          },
          {
            title: "Machine",
            artist: "",
            album: "Imagine Dragons Music Pack																							",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 168 },
              { mode: "Two-handed", level: "Normal", blocks: 417 },
              { mode: "Two-handed", level: "Hard", blocks: 583 },
              { mode: "Two-handed", level: "Expert", blocks: 662 },
              { mode: "Two-handed", level: "Expert+", blocks: 765 }
            ]
          },
          {
            title: "Natural",
            artist: "",
            album: "Imagine Dragons Music Pack																							",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 189 },
              { mode: "Two-handed", level: "Normal", blocks: 255 },
              { mode: "Two-handed", level: "Hard", blocks: 493 },
              { mode: "Two-handed", level: "Expert", blocks: 684 },
              { mode: "Two-handed", level: "Expert+", blocks: 782 }
            ]
          },
          {
            title: "Radioactive",
            artist: "",
            album: "Imagine Dragons Music Pack																							",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 261 },
              { mode: "Two-handed", level: "Normal", blocks: 435 },
              { mode: "Two-handed", level: "Hard", blocks: 623 },
              { mode: "Two-handed", level: "Expert", blocks: 714 },
              { mode: "Two-handed", level: "Expert+", blocks: 759 }
            ]
          },
          {
            title: "Thunder",
            artist: "",
            album: "Imagine Dragons Music Pack																							",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 209 },
              { mode: "Two-handed", level: "Normal", blocks: 334 },
              { mode: "Two-handed", level: "Hard", blocks: 521 },
              { mode: "Two-handed", level: "Expert", blocks: 651 },
              { mode: "Two-handed", level: "Expert+", blocks: 739 }
            ]
          },
          {
            title: "Warriors",
            artist: "",
            album: "Imagine Dragons Music Pack																							",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 233 },
              { mode: "Two-handed", level: "Normal", blocks: 314 },
              { mode: "Two-handed", level: "Hard", blocks: 525 },
              { mode: "Two-handed", level: "Expert", blocks: 757 },
              { mode: "Two-handed", level: "Expert+", blocks: 788 }
            ]
          },
          {
            title: "Whatever It Takes",
            artist: "",
            album: "Imagine Dragons Music Pack																							",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 267 },
              { mode: "Two-handed", level: "Normal", blocks: 417 },
              { mode: "Two-handed", level: "Hard", blocks: 568 },
              { mode: "Two-handed", level: "Expert", blocks: 836 },
              { mode: "Two-handed", level: "Expert+", blocks: 842 }
            ]
          },
        ],

        getOptionLabel: option =>
          option.title +
          (option.level ? " / " + option.level : "") +
          (option.album ? " / " + option.album : "")
      };
    },

    onstate({ changed, current, previous }) {
      if (changed.blocks) {
        this.fire("song-selected", {
          blocks: current.blocks,
          song: current.selectedSong,
          yourScore: current.filters.score ? current.filters.score : null
        });
      }

      if (changed.filters && current.filteredSongs.length === 1) {
        this.set({ selectedSong: current.filteredSongs[0] });

        this.fire("song-selected", {
          blocks: current.filteredSongs[0].blocks
            ? current.filteredSongs[0].blocks
            : current.customSongBlocks,
          song: current.filteredSongs[0],
          yourScore: current.filters.score ? current.filters.score : null
        });
      }
    },

    computed: {
      allSongs: ({ songs }) => {
        let idx = 0;

        let allSongs = songs.reduce((cum, song) => {
          let levels = song.levels ? [].concat(song.levels) : null;
          let data = Object.assign({}, song);
          delete data.levels;

          return cum.concat(
            levels
              ? levels.map(lvl => Object.assign({ id: idx++ }, data, lvl))
              : [Object.assign({ id: idx++ }, song)]
          );
        }, []);

        return allSongs.sort((a, b) => {
          return a.title.localeCompare(b.title);
        });
      },

      filteredSongs: ({ allSongs, filters }) => {
        const isPropertyMatch = (value, filter) => {};
        const isSongMatchFilters = (item, filters) => {
          for (const filter in filters) {
            if (["score", "title"].includes(filter)) continue;

            if (
              filters[filter] &&
              (!item[filter] ||
                item[filter].toLowerCase() !== filters[filter].toLowerCase())
            )
              return false;
          }

          return true;
        };

        return allSongs.filter(item => isSongMatchFilters(item, filters));
      },

      blocks: ({ selectedSong, customSongBlocks }) => {
        if (!selectedSong) return 0;
        if (!selectedSong.level) return customSongBlocks;

        return selectedSong.blocks;
      }
    },

    methods: {
      onFilterSongs(filters) {
        this.set({ filters });
      }
    }
  };
</script>
