<div>
  <select bind:value="selectedSong">
    <option value="{null}">- Select song -</option>
    {#each allSongs as song, idx}
    <option value="{song}">
      {song.album ? song.album + ' / ' : ''} {song.title} {song.level ? ' / ' +
      song.level : ''}
    </option>
    {/each}
  </select>

  {#if selectedSong && !selectedSong.level}
  <div class="custom-song">
    <label>Number of blocks in custom song</label>
    <input type="number" min="1" bind:value="customSongBlocks" />
  </div>
  {/if}
</div>

<style>
  label {
    display: block;
    font-weight: 500;
    margin-bottom: .25rem;
  }

  .custom-song {
    margin-top: 0.5rem;
  }
</style>

<script>
  export default {
    data() {
      return {
        customSongBlocks: 300,

        selectedSong: null,
        songs: [
          {
            title: "Custom song",
            artist: "Custom",
            album: null
          },
          {
            title: "Pop Stars K/DA",
            artist: "League of legends",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 226 },
              { mode: "Two-handed", level: "Normal", blocks: 341 },
              { mode: "Two-handed", level: "Hard", blocks: 486 },
              { mode: "Two-handed", level: "Expert", blocks: 679 },
              { mode: "Two-handed", level: "Expert+", blocks: 934 }
            ]
          },
          {
            title: "One hope",
            artist: "Knower",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 286 },
              { mode: "Two-handed", level: "Normal", blocks: 376 },
              { mode: "Two-handed", level: "Hard", blocks: 503 },
              { mode: "Two-handed", level: "Expert", blocks: 731 },
              { mode: "Two-handed", level: "Expert+", blocks: 932 }
            ]
          },
          {
            title: "$100 bills",
            artist: "Jaroslav Beck",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 156 },
              { mode: "Two-handed", level: "Normal", blocks: 196 },
              { mode: "Two-handed", level: "Hard", blocks: 264 },
              { mode: "Two-handed", level: "Expert", blocks: 437 },
              { mode: "Two-handed", level: "Expert+", blocks: 734 }
            ]
          },
          {
            title: "Escape ft. Summer Haze",
            artist: "Jaroslav Beck, Summer Haze",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 157 },
              { mode: "Two-handed", level: "Normal", blocks: 295 },
              { mode: "Two-handed", level: "Hard", blocks: 287 },
              { mode: "Two-handed", level: "Expert", blocks: 399 },
              { mode: "Two-handed", level: "Expert+", blocks: 600 }
            ]
          },
          {
            title: "Legend ft. Backchat",
            artist: "Jaroslav Beck, Backchat, Generdyn",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 150 },
              { mode: "Two-handed", level: "Normal", blocks: 184 },
              { mode: "Two-handed", level: "Hard", blocks: 216 },
              { mode: "Two-handed", level: "Expert", blocks: 285 },
              { mode: "Two-handed", level: "Expert+", blocks: 638 }
            ]
          },
          {
            title: "Rum'n'bass",
            artist: "Boom kitty",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 155 },
              { mode: "Two-handed", level: "Normal", blocks: 285 },
              { mode: "Two-handed", level: "Hard", blocks: 401 },
              { mode: "Two-handed", level: "Expert", blocks: 603 },
              { mode: "Two-handed", level: "Expert+", blocks: 943 }
            ]
          },
          {
            title: "Unlimited power ft. Frank Bentley",
            artist: "Jaroslav Beck",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 124 },
              { mode: "Two-handed", level: "Normal", blocks: 199 },
              { mode: "Two-handed", level: "Hard", blocks: 302 },
              { mode: "Two-handed", level: "Expert", blocks: 380 },
              { mode: "Two-handed", level: "Expert+", blocks: 615 }
            ]
          },
          {
            title: "I need you",
            artist: "Megaphonix",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 145 },
              { mode: "Two-handed", level: "Normal", blocks: 224 },
              { mode: "Two-handed", level: "Hard", blocks: 338 },
              { mode: "Two-handed", level: "Expert", blocks: 423 },
              { mode: "Two-handed", level: "Expert+", blocks: 635 }
            ]
          },
          {
            title: "Be there for you ft. Kinnie Lane",
            artist: "Sedliv",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 146 },
              { mode: "Two-handed", level: "Normal", blocks: 250 },
              { mode: "Two-handed", level: "Hard", blocks: 323 },
              { mode: "Two-handed", level: "Expert", blocks: 519 },
              { mode: "Two-handed", level: "Expert+", blocks: 757 }
            ]
          },
          {
            title: "Beat Saber",
            artist: "Jaroslav Beck",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 94 },
              { mode: "Two-handed", level: "Normal", blocks: 116 },
              { mode: "Two-handed", level: "Hard", blocks: 202 },
              { mode: "Two-handed", level: "Expert", blocks: 267 },
              { mode: "Two-handed", level: "Expert+", blocks: 632 }
            ]
          },
          {
            title: "Angel Voices",
            artist: "Virtual Self",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Hard", blocks: 948 },
              { mode: "Two-handed", level: "Expert", blocks: 1202 },
              { mode: "Two-handed", level: "Expert+", blocks: 1681 }
            ]
          },
          {
            title: "Country roads Sqeepo remix",
            artist: "Jaroslav Beck, Kings&Folks",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 151 },
              { mode: "Two-handed", level: "Normal", blocks: 208 },
              { mode: "Two-handed", level: "Hard", blocks: 295 },
              { mode: "Two-handed", level: "Expert", blocks: 544 },
              { mode: "Two-handed", level: "Expert+", blocks: 773 }
            ]
          },
          {
            title: "Balearic pumping",
            artist: "Jaroslav Beck",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 170 },
              { mode: "Two-handed", level: "Normal", blocks: 239 },
              { mode: "Two-handed", level: "Hard", blocks: 341 },
              { mode: "Two-handed", level: "Expert", blocks: 459 },
              { mode: "Two-handed", level: "Expert+", blocks: 608 }
            ]
          },
          {
            title: "Breezer",
            artist: "Jaroslav Beck",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 106 },
              { mode: "Two-handed", level: "Normal", blocks: 173 },
              { mode: "Two-handed", level: "Hard", blocks: 272 },
              { mode: "Two-handed", level: "Expert", blocks: 356 },
              { mode: "Two-handed", level: "Expert+", blocks: 566 }
            ]
          },
          {
            title: "Commercial pumping",
            artist: "Jaroslav Beck",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 136 },
              { mode: "Two-handed", level: "Normal", blocks: 213 },
              { mode: "Two-handed", level: "Hard", blocks: 329 },
              { mode: "Two-handed", level: "Expert", blocks: 447 },
              { mode: "Two-handed", level: "Expert+", blocks: 848 }
            ]
          },
          {
            title: "Elixia",
            artist: "Mord fustang",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 143 },
              { mode: "Two-handed", level: "Normal", blocks: 300 },
              { mode: "Two-handed", level: "Hard", blocks: 375 },
              { mode: "Two-handed", level: "Expert", blocks: 494 },
              { mode: "Two-handed", level: "Expert+", blocks: 744 }
            ]
          },
          {
            title: "Turn me on ft. Tiny C",
            artist: "Jaroslav Beck, Tiny C",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 121 },
              { mode: "Two-handed", level: "Normal", blocks: 156 },
              { mode: "Two-handed", level: "Hard", blocks: 244 },
              { mode: "Two-handed", level: "Expert", blocks: 341 },
              { mode: "Two-handed", level: "Expert+", blocks: 663 }
            ]
          },
          {
            title: "Lvl insane",
            artist: "Jaroslav Beck",
            album: "OST Vol. 1",
            levels: [
              { mode: "Two-handed", level: "Easy", blocks: 102 },
              { mode: "Two-handed", level: "Normal", blocks: 139 },
              { mode: "Two-handed", level: "Hard", blocks: 198 },
              { mode: "Two-handed", level: "Expert", blocks: 330 },
              { mode: "Two-handed", level: "Expert+", blocks: 587 }
            ]
          }
        ]
      };
    },

    oncreate() {
      const listener = this.on("state", ({ changed, current }) => {
        if (changed.blocks) {
          this.fire("song-selected", {blocks: current.blocks, song: current.selectedSong});
        }
      });

      this.on("destroy", listener.cancel);
    },

    computed: {
      allSongs: ({ songs }) =>
        songs.reduce((cum, song) => {
          let { levels, ...data } = song;

          return cum.concat(
            levels ? levels.map(lvl => Object.assign({}, data, lvl)) : [song]
          );
        }, []),

      blocks: ({ selectedSong, customSongBlocks }) => {
        if (!selectedSong) return 0;
        if (!selectedSong.level) return customSongBlocks;

        return selectedSong.blocks;
      }
    }
  };
</script>
